@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.input-error{
    border-color: #fc8181 !important;
}
.error{
    color:#fc8181 ;
    font-size: 12px;
    text-align: left;
}
label.required::before {
    content: ' *';
    color: red;
  }